source https://www.nuget.org/api/v2

nuget Argu
nuget Basis.Core
nuget ReactiveProperty 3.0
nuget System.Reactive
nuget System.Reactive.Interfaces 3.0.0
nuget FSharp.Control.Reactive

group Wpf.View
    source https://www.nuget.org/api/v2

    nuget DotNetKit.Wpf.ToastNotification
    nuget MaterialDesignThemes

group UnitTest
    source https://www.nuget.org/api/v2

    nuget Persimmon
    nuget Persimmon.Console
